*{
  margin:0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;

}
body{
  background-color: rgb(2, 51, 51);
  text-align: center;
  max-width: 1400px;
  padding-left: 10px;
  padding-right: 10px;
}
input{
  width: 400px;
  height: 40px;
  padding-left: 4px;
  outline: none;
  border: none;
 
}

.search{
  width: 560px;
  height: 40px;
  border-radius: 50px;
 

  outline: none;
  border: none;
  box-shadow:2px 2px  ;
  background-color: white;
  padding-top: 5px;
  margin: auto;
}

.search-icons{
  font-size: 20px;
  padding-top: 2px;
}
::placeholder{
  font-size: 20px;
}

.movie{
  display:inline-block;
justify-content: center;
padding-left: 20px;
padding-right: 20px;
text-align: center;
width: 300px;
margin-top: 30px;

}


.movieimage img{
width: 300px;
height: 310px;
border-radius: 10px 10px 0 0;


}
span {
  text-transform:uppercase ;
  padding-left: 10px;
  padding-bottom: 15px;

}
.movieimage{
  background-color: tan;

  text-align: left;
  border-radius: 10px;
  padding-bottom: 15px;
  
}
h3{
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  color: l;
}
.empty{
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
}
h1{
  margin-top: 30px;
  margin-bottom: 30px;
}
